.NormalWord{
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    width: 100vw;
    height: 100vh;
}


.Wall{
    background-image: url("../../resources/img/wallpaper.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    flex-grow: 1;
}

.Floor{
    background-image: url("../../resources/img/floor.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    height: min(18.75vw, 33vh);
}

.Container {
    border-style: dotted;
    width: min(100vw, 177.78vh);
    height: min(56.25vw, 100vh);
    align-self: center;
    position: absolute;
    bottom: 0px;
}

.BoxCarpet {
    position: absolute;
    bottom: min(3.9375vw, 7vh);
    left: min(28.125vw,50vh);
}

.BoxWalketTalker {
    position: absolute;
    bottom: min(5.625vw,10vh);
    left: min(48.125vw,85.55vh);
}

.BoxCharmelon {
    position: absolute;
    bottom: min(5.625vw,10vh);
    left: min(33.75vw,60vh);
}


.BoxChristmasTree {
    position: absolute;
    bottom: min(5.625vw,10vh);
    right: 0px;
}