.InvertedWord{
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    width: 100vw;
    height: 100vh;
}


.WallInv{
    background-image: url("../../resources/img/wallpaper_inv.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: min(20vw,34vh);
    flex-grow: 1;
}

.FloorInv{
    background-image: url("../../resources/img/floor_inv.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    height: min(10.125vw, 18vh);
}

.Container {
    border-style: dotted;
    width: min(100vw, 177.78vh);
    height: min(56.25vw, 100vh);
    align-self: center;
    position: absolute;
    bottom: 0px;
}


.BoxChristmasTree {
    position: absolute;
    bottom: min(0.5625vw,1vh);
    right:  min(0.5625vw,1vh);;
}

.BoxDoorInv {
    position: absolute;
    bottom: min(8.49375vw,15.1vh);
    left:  min(0.5625vw,1vh);
}